<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">We've got what you need!</h2>
                <hr class="light">
                <p class="text-faded">Owner/Driver Manoj (pronounced Mon-os) Manandhar has been a licensed taxi driver in Kathmandu for 15+ years.

                    Manoj speaks Nepali and English.
                    He knows the Nepali culture and the sites to see in Kathmandu.</p>
                <a href="#contact" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
